#game {
    background-color:#000000;
}

#radar {
    position:fixed;
    top:0;
    left:0;
    width:50%;
    height:50%;
    background-color:#346E2A;   
}

#info {
    position:fixed;
    top:0;
    right:0;
    height:50%;
    background-color:#FFFFFF;
    width:50%;
}

#button_console {
    width: 100%;
    height:50%;
    position:fixed;
    bottom: 0%;
    background-color:#FF00FF;
}

.button {
    width: 45%;
    height: 33%;
    margin-left: auto;
    margin-right: auto;
}

.buttonZ {
    width: 100%;
    height: 50%;
}

.buttonN {
    width: 40%;
    height: 16%;
}



#zconsole {
    width: 25%;
    height: 50%;
    position:fixed;
    left:0%;
}

#attack_console {
    background-color:#FFFFFF;
    position:fixed;
    top:0%;
    left:0%;
    right:50%;
    width: 50%;
    height: 100%;
}


#xyconsole {
    width: 50%;
    height:50%;
    position:fixed;
    left:25%;
    bottom:0%;
}


#backward {
    width: 100%
}
#forward {
    width: 100%
}
